.DS_Store
.ipynb_checkpoints/
__pycache__/
env/
geckodriver.log
data/amazon-echo/*
data/amazon-plain/*
data/control_persona/*
data/health-fitness-new/*
data/healthfitness_persona/*
data/no-amazon/*
data/smart-home/*
tutorial-env/*
data/results/*
data/nightly-profiles/
data/ungrouped_skills.json
data/us_skills.json
data/us_skills_all.json
data/us_skills_raw.json
numpy/
data/amazon-plain.tar.gz
data/old-data/*
health-fitness-old.tar.gz
data/Amazon-Data/*

/NetworkAnalysis/data/Traffic/
/NetworkAnalysis/OVRseen/
/NetworkAnalysis/data/sound/
/NetworkAnalysis/data/Traffic/
